[defaults]
stdout_callback = json
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
bin_ansible_callbacks = true
deprecation_warnings = false


[ara]
api_client = http
