## File created by /usr/local/bin/ionscript
## Fri Aug 28 14:04:48 EDT 2009
## Run the following command to start ION node:
##	% ionstart -I "loopback-udp.rc"

## begin ionadmin 
1 1 ""
s
## end ionadmin 

## begin bpadmin 
1
a scheme ipn 'ipnfw' 'ipnadminep'
a endpoint ipn:1.1 q
a protocol udp 1400 100
a induct udp 127.0.0.1:4556 udpcli
a outduct udp * udpclo
s
## end bpadmin 

## begin ipnadmin 
a plan 1 udp/*,127.0.0.1:4556
## end ipnadmin 
