# Build suppport
.libs
.deps
.dirstamp
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# Temp macro directory
/m4

# Compiled objects
*.o
*.lo

# Libtool wrappers
*.la

# Ignore renamed Makefiles
#*.dev

# Binaries or their equiv libtool wrappers
amsbenchr
amsbenchs
amsd
amshello
amslog
amslogprt
amsshell
aoslsi
aoslso
bpadmin
bpcancel
bpchat
bpclock
bpcounter
bpdriver
bpecho
bping
bplist
bprecvfile
bpsendfile
bpsink
bpsource
bpstats
bpstats2
bptrace
bputa
brsccla
brsscla
cfdpadmin
cfdpclock
cfdptest
dgr2file
dgrcla
dtn2admin
dtn2adminep
dtn2fw
file2dgr
file2sdr
file2sm
file2tcp
file2udp
hmackeys
ionadmin
ionsecadmin
ipnadmin
ipnadminep
ipnfw
lgagent
lgsend
ltpadmin
ltpcli
ltpclo
ltpclock
ltpcounter
ltpdriver
ltpmeter
owltsim
owlttb
psmshell
psmwatch
ramsgate
rfxclock
sdr2file
sdrmend
sdrwatch
sm2file
smlistsh
stcpcli
stcpclo
tcp2file
tcpcli
tcpclo
udp2file
udpcli
udpclo
udplsi
udplso

# Additional binaries to ignore
amsmib
amsstop
ar-lib
bibeadmin
bibeclo
bpclm
bpcp
bpcpd
bpcrash
bpnmtest
bpsecadmin
bptransit
bpversion
bsspclock                                                          
bssrecv
bssStreamingApp
bsscounter
bssdriver 
bsspadmin
bsspcli
bsspclo
cgrfetch
compile
cgrfetch
compile
cpsd
dccpcli
dccpclo
dccplsi
dccplso
dgrcli
dgrclo
dtka
dtkaadmin
dtpcadmin
dtpcclock
dtpcd
dtpcreceive
dtpcsend
imcadminep
imcfw
ionexit
ionlog
ionrestart
ionunlock
ionwarn
ionxnowner
ipnd
ltpdeliv
ltpsecadmin
nm_agent
nm_mgr
sdatest
smrbtsh
tcaadmin
tcaboot
tcacompile
tcapublish
tcarecv
tcc
tccadmin
tcpbsi
tcpbso
tcputa
udpbsi
udpbso


# Compiled manpages (not the pod sources)
*.1
*.3
*.5

# Compiled documentation
.*/doc/.*\.1.ps
.*/doc/.*\.3.ps
.*/doc/.*\.5.ps

ION.pdf
doc/ION-beginning.ps
doc/ION-manpages.ps
doc/appendix-a-contents.ps
doc/appendix-a-contents.txt


# Test output
ion.log

# Produced test support
tests/retest

# Compiled test binaries (or libtool wrappers)
tests/1000.loopback/dotest
tests/1300.loopback-tcp/dotest
tests/1400.loopback-stcp/dotest
tests/1500.loopback-brs/dotest
tests/issue-188-common-cos-syntax/dotest
tests/issue-260-teach-valgrind-mtake/domtake

# Editor swap files
\.*\.swp

.git/*
build*/*

# Coverage Files
\.gcno
\.gcda


build/*
