githubToken: ""
pullSecretData:

gha-runner-scale-set:
  template:
    spec:
      containers:
        - name: runner
          image: ghcr.io/actions/actions-runner:latest
          imagePullPolicy: "Always"
          command: ["/home/runner/run.sh"]

gha-runner-scale-set-2:
  template:
    spec:
      containers:
        - name: runner
          image: ghcr.io/actions/actions-runner:latest
          imagePullPolicy: "Always"
          command: ["/home/runner/run.sh"]
          volumeMounts:
            # Mount for storing container images/layers
            - name: containers-storage
              mountPath: /var/lib/containers/storage
            # Mount for buildah runtime data
            - name: containers-run
              mountPath: /run/containers
      imagePullSecrets:
        - name: kind-cluster-pull-secret

gha-runner-scale-set-3:
  template:
    spec:
      containers:
        - name: runner
          image: ghcr.io/actions/actions-runner:latest
          imagePullPolicy: "Always"
          command: ["/home/runner/run.sh"]

gha-runner-scale-set-4:
  template:
    spec:
      containers:
        - name: runner
          image: ghcr.io/actions/actions-runner:latest
          imagePullPolicy: "Always"
          command: ["/home/runner/run.sh"]
          volumeMounts:
            # Mount for storing container images/layers
            - name: containers-storage
              mountPath: /var/lib/containers/storage
            # Mount for buildah runtime data
            - name: containers-run
              mountPath: /run/containers
            # Mount RHEL entitlements for building RHEL images
            - name: rhel-entitlement
              mountPath: /etc/pki/entitlement
              readOnly: true
            - name: rhel-rhsm
              mountPath: /etc/rhsm
              readOnly: true
            - name: rhel-repos
              mountPath: /etc/yum.repos.d
              readOnly: true

gha-runner-scale-set-5:
  template:
    spec:
      containers:
        - name: runner
          image: ghcr.io/actions/actions-runner:latest
          imagePullPolicy: "Always"
          command: ["/home/runner/run.sh"]
          volumeMounts:
            # Mount for storing container images/layers
            - name: containers-storage
              mountPath: /var/lib/containers/storage
            # Mount for buildah runtime data
            - name: containers-run
              mountPath: /run/containers
            # Mount RHEL entitlements for building RHEL images
            - name: rhel-entitlement
              mountPath: /etc/pki/entitlement
              readOnly: true
            - name: rhel-rhsm
              mountPath: /etc/rhsm
              readOnly: true
            - name: rhel-repos
              mountPath: /etc/yum.repos.d
              readOnly: true

gha-runner-scale-set-6:
  template:
    spec:
      containers:
        - name: runner
          image: ghcr.io/actions/actions-runner:latest
          imagePullPolicy: "Always"
          command: ["/home/runner/run.sh"]
