## begin ionadmin

1 100.25 ''

s

a contact +1 +3600 100.25 100.25 100000

a range +1 +3600 100.25 100.25 0

m production 1000000
m consumption 1000000
## end ionadmin

## begin ltpadmin

1 128

a span 100.25 128 128 1024 1024 1 'udplso localhost:1113'

s 'udplsi 0.0.0.0:1113'
## end ltpadmin

## begin bpadmin

1

a scheme ipn 'ipnfw' 'ipnadminep'

a endpoint ipn:100.25.1 q
a endpoint ipn:100.25.2 q

a protocol ltp 1400 100

a induct ltp 100.25 ltpcli

a outduct ltp 100.25 ltpclo

s
## end bpadmin

## begin ipnadmin

a plan 100.25 ltp/100.25
## end ipnadmin
