## begin ionadmin
1 1 ''
s
# Define contact plan
a contact +1 +3600 1 1 100000

# Define 1sec OWLT between nodes
a range +1 +3600 1 1 1
m production 1000000
m consumption 1000000
## end ionadmin

## begin ltpadmin
1 32
a span 1 32 32 1400 10000 1 'udplso 127.0.0.1:1113' 300
# Start listening for incoming LTP traffic - assigned to the IP internal
s 'udplsi 127.0.0.1:1113'
## end ltpadmin

## begin bpadmin
1
# Use the ipn eid naming scheme
a scheme ipn 'ipnfw' 'ipnadminep'
# Create a endpoints
a endpoint ipn:1.0 q
a endpoint ipn:1.1 q
a endpoint ipn:1.2 q
# Define ltp as the protocol used
a protocol ltp 1400 100
# Listen
a induct ltp 1 ltpcli
# Send to yourself
a outduct ltp 1 ltpclo
s
## end bpadmin

## begin ipnadmin
# Send to yourself
a plan 1 ltp/1
## end ipnadmin

## begin ionsecadmin
# Enable bundle security to avoid error messages in ion.log
1
## end ionsecadmin