## begin ionadmin
1 1 ''
s

a contact +1 +360000 1 1 100000

a range +1 +360000 1 1 1

m production 1000000
m consumption 1000000
## end ionadmin
# add to avoid the no security found error message
## begin ionsecadmin
1
## end ionsecadmin
## begin bpadmin
1

a scheme ipn 'ipnfw' 'ipnadminep'

a endpoint ipn:1.0 x
a endpoint ipn:1.1 q 
a endpoint ipn:1.2 q

a protocol tcp 1400 100

a induct tcp 0.0.0.0:4556 tcpcli
a outduct tcp 127.0.0.1:4556 tcpclo


s
## end bpadmin

## begin ipnadmin
a plan 1 tcp/127.0.0.1:4556
## end ipnadmin
